<%- include('../partials/header.ejs')%>
<main>
    <div id="forms">
        <form method = "POST" enctype="multipart/form-data" action="/events/<%= event.id%>?_method=PUT" class="new-form">
            <label for="category">Category</label>
        <select name="category" required>
            <% if(event.category === 'Solo'){ %>
         <option value="<%= event.category%>"><%= event.category%></option> <!-- Small bug, duplicate options show up -->
         <option value="Duo">Duo</option>
         <option value="Trio">Trio</option>
         <option value="Quads">Quads</option>
         <option value="Other">Other</option>
         <%} else if(event.category === 'Duo'){ %>
            <option value="<%= event.category%>"><%= event.category%></option> <!-- Small bug, duplicate options show up -->
            <option value="Solo">Solo</option>
            <option value="Trio">Trio</option>
            <option value="Quads">Quads</option>
            <option value="Other">Other</option>
            <%} else if(event.category === 'Trio'){ %>
            <option value="<%= event.category%>"><%= event.category%></option> <!-- Small bug, duplicate options show up -->
            <option value="Solo">Solo</option>
            <option value="Duo">Duo</option>
            <option value="Quads">Quads</option>
            <option value="Other">Other</option>
            <%} else if(event.category === 'Quads'){ %>
                <option value="<%= event.category%>"><%= event.category%></option> <!-- Small bug, duplicate options show up -->
                <option value="Solo">Solo</option>
                <option value="Duo">Duo</option>
                <option value="Trio">Trio</option>
                <option value="Other">Other</option>
            <%} else if(event.category === 'Other'){ %>
                <option value="<%= event.category%>"><%= event.category%></option> <!-- Small bug, duplicate options show up -->
                <option value="Solo">Solo</option>
                <option value="Duo">Duo</option>
                <option value="Trio">Trio</option>
                <option value="Quads">Quads</option>
            <%} else { %>
                <p>There are no categories to display.</p>
            <%}%>
        </select>
            <div class="formDiv">
                <label for="title">Title</label>
                <input type="text" id="title" name="title" value="<%= event.title%>" required>
            </div>
    
            <div class="formDiv">
                <label for="details">Details</label>
                <input type="text" name="details" id="details" value="<%= event.details%>" required>
            </div>
                
            <div class="formDiv">
                <label for="location">Where</label>
                <input type="text" id="location" name="location" value="<%= event.location%>" required>
            </div>
            <div class="formDiv">
                <label for="startDate">Start</label>
                <input type="datetime-local" id="startDate" name="startDateTime" value="<%= convertedStartDateTime%>" required>
    
            </div>
            <div class="formDiv">
                <label for="endDate">End</label>
                <input type="datetime-local" id="endDate" name="endDateTime" value="<%= convertedEndDateTime%>" required>
    
            </div>
        <div class="formDiv">
            <label for="img">Select image:</label>
            <input type="file" id="image" name="image" accept="image/*" required>
        </div class="formDiv">
             <br>
             <div>
                <input type="submit" value="Submit">
            </div>
        </form>

    </div>

    </main>

    <%- include('../partials/footer.ejs')%>